section {
  padding: 120px 6%;
}

.loader__container {
  display: flex;
  justify-content: center;
}

.loader__container img {
  width: 80% !important;
}

.curses-cycle-container {
  cursor: default;
  transition: box-shadow 0.3s ease-in-out;
}

.curse-container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  padding: 15px;
  margin-bottom: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  position: relative;
  align-items: center;
}

.curse-container:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.curse-container img {
  border-radius: 20px;
}

.info-curse {
  padding: 0 20px;
}

.text-subtitle {
  color: var(--text-color-active);
  font-size: 1.2rem;
  opacity: 0.9;
  font-weight: 600;
  line-height: 1.7;
}

.text-title {
  color: var(--text-color-active);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.7;
}

.text-gray {
  color: #545454;
  line-height: 1.8;
  margin-bottom: 1.1rem;
  font-size: 1rem;
  margin-left: 2.2rem;
}

.button-curse {
  justify-self: end;
  padding: 8px;
}

.button-curse svg {
  width: 100%;
  height: 120px;
  fill: #aca9a9;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.button-curse:hover svg {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.button-curse svg:focus {
  outline: none;
}

.button-curse:active svg {
  transform: scale(0.8);
}


/* START TIMELINE COMMENTS CSS */
button,
input,
select,
textarea {
  font: inherit;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}


/* MEDIA QUERIES */

@media (max-width: 1100px) {
  .curse-container {
    grid-template-columns: 40% 40% 20%;
  }
}

@media (max-width: 800px) {
  .curses-cycle-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    grid-template-rows: repeat(auto-fill, 400px);
  }

  .curse-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 150px;
    align-content: center;
    justify-self: center;
  }

  .curse-container img {
    grid-column: 1/3;
    grid-row: 1/2;
    height: 100%;
    justify-self: center;
  }

  .text-gray {
    display: none;
  }
  .text-title {
    font-size: 0.9rem;
  }
  .text-subtitle {
    font-size: 0.7rem;
  }

  .info-curse {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
  }

  .button-curse {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
  }
  .button-curse svg{
    height: 80px;
  }
}