<ng-container *ngIf="respuestas?.length!=0">
    <button (click)="loadResponses()" class="show-replies" *ngIf="!isHiden">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-forward" width="44"
            height="44" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M15 11l4 4l-4 4m4 -4h-11a4 4 0 0 1 0 -8h1" />
        </svg>
        Mostrar {{respuestas.length}} respuestas
    </button>

    <button (click)="hideResponses()" class="show-replies" *ngIf="isHiden">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-back">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1" />
        </svg>
        Ocultar {{respuestas.length}} respuestas
    </button>

    <div class="flex flex-col gap-4 my-4">
        <span class="timeline-item-wrapper" *ngFor="let r of respuestas_mostradas" class="respuesta-list">
            <div class="timeline-item-description">
                <i class="avatar | small">
                    <img src="https://assets.codepen.io/285131/hat-man.png" />
                </i>
                <span><a href="#">{{r.usuario}}</a> comentó en {{r.fecha}}</span>
            </div>
            <div class="comment">
                <p>{{r.comentario}}</p>
                <button class="button">👏 2</button>
                <button class="button | square">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z" />
                        <path fill="currentColor"
                            d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zM7 12a5 5 0 0 0 10 0h-2a3 3 0 0 1-6 0H7z" />
                    </svg>
                </button>
            </div>
        </span>
    </div>
</ng-container>