<div class="bg-gray-50 select-none h-screen">
    <header-admin></header-admin>

    <sidebar-admin breadcrumb1="Dashboard" breadcrumb2="Lista de comentarios"></sidebar-admin>

    <!-- Content -->
    <div class="w-full pt-10 px-4 sm:px-6 md:px-8 lg:ps-72 animate__animated animate__fadeIn bg-gray-50">
        <!-- Tabs and Filter -->
        <div class="flex justify-between items-center border-b border-gray-200">
            <div class="overflow-x-auto">
                <nav class="flex space-x-8">
                    <a (click)="selectTab(2)" [class.text-indigo-600]="selectedTab === 2"
                        class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
                        Publicados
                    </a>
                    <a (click)="selectTab(3)" [class.text-indigo-600]="selectedTab === 3"
                        class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
                        Ocultos
                    </a>
                    <a (click)="selectTab(1)" [class.text-indigo-600]="selectedTab === 1"
                        class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
                        Pendientes de revisión
                    </a>
                </nav>
            </div>

            <!-- Filter Dropdown -->
            <div class="relative">
                <button (click)="toggleFilterMenu()"
                    class="bg-gray-50 p-2 rounded-lg border border-gray-300 text-gray-700 text-sm sm:text-sm focus:outline-none">
                    Filtrar
                    <svg class="w-4 h-4 inline ml-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                </button>
                <!-- Filter Dropdown Menu -->
                <div *ngIf="showFilterMenu" class="absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg z-10">
                    <ul class="text-gray-700 text-sm">
                        <li>
                            <button (click)="filterBy('Profesor')"
                                class="block w-full text-left px-4 py-2 hover:bg-gray-100">
                                Profesor
                            </button>
                        </li>
                        <li>
                            <button (click)="filterBy('Especialidad')"
                                class="block w-full text-left px-4 py-2 hover:bg-gray-100">
                                Especialidad
                            </button>
                        </li>
                        <li>
                            <button (click)="sortByDate('asc')"
                                class="block w-full text-left px-4 py-2 hover:bg-gray-100">
                                Fecha <svg class="w-4 h-4 inline" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 15l7-7 7 7" />
                                </svg>
                            </button>
                        </li>
                        <li>
                            <button (click)="sortByDate('desc')"
                                class="block w-full text-left px-4 py-2 hover:bg-gray-100">
                                Fecha <svg class="w-4 h-4 inline" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 9l-7 7-7-7" />
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Comments List -->
        <div class="relative top-6 mt-6">
            <div class="space-y-4 relative bottom-6">
                <ng-container *ngIf="selectedTab===1">
                    <div *ngFor="let comment of comentarios" class="animate__animated animate__fadeIn bg-white p-4 rounded-lg shadow">
                        <div class="flex items-center">
                            <img class="w-12 h-12 rounded-full"
                                src="https://www.conpaas.org/wp-content/uploads/2016/06/team-1.jpg" alt="Jane Doe">
                            <div class="ml-4">
                                <div class="text-sm font-medium text-gray-900">{{comment.usuario}}</div>
                                <div class="text-sm text-gray-500">{{comment.fecha}}</div>
                            </div>
                            <div class="ml-auto text-sm text-gray-500">
                                <button class="text-gray-500 hover:text-gray-700 transition duration-300">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M6.75 12h10.5M12 6.75l5.25 5.25L12 17.25" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="mt-2 text-sm text-gray-700">
                            {{comment.comentario}}
                        </div>
                        <div class="mt-2 flex space-x-4 text-sm">
                            <div class="flex items-center text-gray-500">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                    stroke="currentColor" class="w-4 h-4 mr-1">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M14 9l-5 5m0 0l-5-5m5 5V3" />
                                </svg>
                                <span>5</span>
                            </div>
                            <div class="flex items-center text-gray-500">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                    stroke="currentColor" class="w-4 h-4 mr-1">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M10 14l5-5m0 0l5 5m-5-5v12" />
                                </svg>
                                <span>1</span>
                            </div>
                        </div>
                        <div class="mt-4 text-sm text-indigo-600">
                            {{comment.referencia}}
                        </div>
                        <div class="flex flex-row gap-4 items-center mr-4 mt-4 justify-between">
                            <div class="flex flex-row gap-2 items-center">
                                <span class="text-xs text-gray-500">Puesto en revisión por {{comment.operario}}</span>
                                <img class="w-6 h-6 rounded-full"
                                    src="https://www.conpaas.org/wp-content/uploads/2016/06/team-1.jpg"
                                    alt="Puesto en revisión por">
                            </div>
                            <div class="flex flex-row gap-4">
                                <button (click)="setCommentState(comment,2)"
                                    class="py-1.5 px-3.5 text-xs bg-indigo-500 text-white rounded-md cursor-pointer font-medium leading-5 text-center shadow-xs transition-all duration-500 hover:bg-indigo-700">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-circle-check w-4 h-4 inline mr-1">
                                        <circle cx="12" cy="12" r="10" />
                                        <path d="m9 12 2 2 4-4" />
                                    </svg>
                                    Aprobar
                                </button>

                                <button (click)="setCommentState(comment,3)"
                                    class="py-1.5 px-3.5 text-xs bg-red-500 text-white rounded-md cursor-pointer font-medium leading-5 text-center shadow-xs transition-all duration-500 hover:bg-red-700">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-circle-x w-4 h-4 inline mr-1">
                                        <circle cx="12" cy="12" r="10" />
                                        <path d="m15 9-6 6" />
                                        <path d="m9 9 6 6" />
                                    </svg>
                                    Rechazar
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="selectedTab===2">
                    <div *ngFor="let comment of comentarios" class="animate__animated animate__fadeIn bg-white p-4 rounded-lg shadow">
                        <div class="flex items-center">
                            <img class="w-12 h-12 rounded-full"
                                src="https://www.conpaas.org/wp-content/uploads/2016/06/team-1.jpg" alt="Jane Doe">
                            <div class="ml-4">
                                <div class="text-sm font-medium text-gray-900">{{comment.usuario}}</div>
                                <div class="text-sm text-gray-500">{{comment.fecha}}</div>
                            </div>
                            <div class="ml-auto text-sm text-gray-500">
                                <button class="text-gray-500 hover:text-gray-700 transition duration-300">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M6.75 12h10.5M12 6.75l5.25 5.25L12 17.25" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="mt-2 text-sm text-gray-700">
                            {{comment.comentario}}
                        </div>
                        <div class="mt-2 flex space-x-4 text-sm">
                            <div class="flex items-center text-gray-500">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                    stroke="currentColor" class="w-4 h-4 mr-1">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M14 9l-5 5m0 0l-5-5m5 5V3" />
                                </svg>
                                <span>5</span>
                            </div>
                            <div class="flex items-center text-gray-500">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                    stroke="currentColor" class="w-4 h-4 mr-1">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M10 14l5-5m0 0l5 5m-5-5v12" />
                                </svg>
                                <span>1</span>
                            </div>
                        </div>
                        <div class="mt-4 text-sm text-indigo-600">
                            {{comment.referencia}}
                        </div>
                        <div class="flex items-center flex-row gap-4 mt-4 justify-between">
                            <div class="flex items-center space-x-2">
                                <span class="text-xs text-gray-500">Aprobado por</span>
                                <img class="w-6 h-6 rounded-full"
                                    src="https://www.conpaas.org/wp-content/uploads/2016/06/team-1.jpg"
                                    alt="Aprobado por">
                            </div>
                            <div (click)="setCommentState(comment,1)" class="flex items-center space-x-2">
                                <button
                                    class="py-1.5 px-3.5 text-xs bg-indigo-500 text-white rounded-md cursor-pointer font-medium leading-5 text-center shadow-xs transition-all duration-500 hover:bg-indigo-700">
                                    <svg version="1.1" id="_x32_" class="w-4 h-4 inline mr-1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        viewBox="0 0 512 512" xml:space="preserve" fill="#000000" stroke="#000000">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                        </g>
                                        <g id="SVGRepo_iconCarrier">
                                            <style type="text/css">
                                                .st0 {
                                                    fill: #fff;
                                                }
                                            </style>
                                            <g>
                                                <path class="st0"
                                                    d="M332.998,291.918c52.2-71.895,45.941-173.338-18.834-238.123c-71.736-71.728-188.468-71.728-260.195,0 c-71.746,71.745-71.746,188.458,0,260.204c64.775,64.775,166.218,71.034,238.104,18.844l14.222,14.203l40.916-40.916 L332.998,291.918z M278.488,278.333c-52.144,52.134-136.699,52.144-188.852,0c-52.152-52.153-52.152-136.717,0-188.861 c52.154-52.144,136.708-52.144,188.852,0C330.64,141.616,330.64,226.18,278.488,278.333z">
                                                </path>
                                                <path class="st0"
                                                    d="M109.303,119.216c-27.078,34.788-29.324,82.646-6.756,119.614c2.142,3.489,6.709,4.603,10.208,2.46 c3.49-2.142,4.594-6.709,2.462-10.198v0.008c-19.387-31.7-17.45-72.962,5.782-102.771c2.526-3.228,1.946-7.898-1.292-10.405 C116.48,115.399,111.811,115.979,109.303,119.216z">
                                                </path>
                                                <path class="st0"
                                                    d="M501.499,438.591L363.341,315.178l-47.98,47.98l123.403,138.168c12.548,16.234,35.144,13.848,55.447-6.456 C514.505,474.576,517.743,451.138,501.499,438.591z">
                                                </path>
                                            </g>
                                        </g>
                                    </svg>
                                    Revisar
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="selectedTab===3">
                    <div *ngFor="let comment of comentarios" class="animate__animated animate__fadeIn bg-white p-4 rounded-lg shadow">
                        <div class="flex items-center">
                            <img class="w-12 h-12 rounded-full"
                                src="https://www.conpaas.org/wp-content/uploads/2016/06/team-1.jpg" alt="Jane Doe">
                            <div class="ml-4">
                                <div class="text-sm font-medium text-gray-900">{{comment.usuario}}</div>
                                <div class="text-sm text-gray-500">{{comment.fecha}}</div>
                            </div>
                            <div class="ml-auto text-sm text-gray-500">
                                <button class="text-gray-500 hover:text-gray-700 transition duration-300">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M6.75 12h10.5M12 6.75l5.25 5.25L12 17.25" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="mt-2 text-sm text-gray-700">
                            {{comment.comentario}}
                        </div>
                        <div class="mt-2 flex space-x-4 text-sm">
                            <div class="flex items-center text-gray-500">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                    stroke="currentColor" class="w-4 h-4 mr-1">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M14 9l-5 5m0 0l-5-5m5 5V3" />
                                </svg>
                                <span>5</span>
                            </div>
                            <div class="flex items-center text-gray-500">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                                    stroke="currentColor" class="w-4 h-4 mr-1">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M10 14l5-5m0 0l5 5m-5-5v12" />
                                </svg>
                                <span>1</span>
                            </div>
                        </div>
                        <div class="mt-4 text-sm text-indigo-600">
                            {{comment.referencia}}
                        </div>
                        <div class="flex items-center flex-row gap-4 mt-4 justify-between">
                            <div class="flex items-center space-x-2">
                                <span class="text-xs text-gray-500">Rechazado por {{comment.operario}}</span>
                                <img class="w-6 h-6 rounded-full"
                                    src="https://www.conpaas.org/wp-content/uploads/2016/06/team-1.jpg"
                                    alt="Rechazado por">
                            </div>
                            <div class="flex flex-row gap-4">
                                <div (click)="setCommentState(comment,1)" class="flex items-center space-x-2">
                                    <button
                                        class="py-1.5 px-3.5 text-xs bg-indigo-500 text-white rounded-md cursor-pointer font-medium leading-5 text-center shadow-xs transition-all duration-500 hover:bg-indigo-700">
                                        <svg version="1.1" id="_x32_" class="w-4 h-4 inline mr-1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"
                                            xml:space="preserve" fill="#000000" stroke="#000000">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                stroke-linejoin="round">
                                            </g>
                                            <g id="SVGRepo_iconCarrier">
                                                <style type="text/css">
                                                    .st0 {
                                                        fill: #fff;
                                                    }
                                                </style>
                                                <g>
                                                    <path class="st0"
                                                        d="M332.998,291.918c52.2-71.895,45.941-173.338-18.834-238.123c-71.736-71.728-188.468-71.728-260.195,0 c-71.746,71.745-71.746,188.458,0,260.204c64.775,64.775,166.218,71.034,238.104,18.844l14.222,14.203l40.916-40.916 L332.998,291.918z M278.488,278.333c-52.144,52.134-136.699,52.144-188.852,0c-52.152-52.153-52.152-136.717,0-188.861 c52.154-52.144,136.708-52.144,188.852,0C330.64,141.616,330.64,226.18,278.488,278.333z">
                                                    </path>
                                                    <path class="st0"
                                                        d="M109.303,119.216c-27.078,34.788-29.324,82.646-6.756,119.614c2.142,3.489,6.709,4.603,10.208,2.46 c3.49-2.142,4.594-6.709,2.462-10.198v0.008c-19.387-31.7-17.45-72.962,5.782-102.771c2.526-3.228,1.946-7.898-1.292-10.405 C116.48,115.399,111.811,115.979,109.303,119.216z">
                                                    </path>
                                                    <path class="st0"
                                                        d="M501.499,438.591L363.341,315.178l-47.98,47.98l123.403,138.168c12.548,16.234,35.144,13.848,55.447-6.456 C514.505,474.576,517.743,451.138,501.499,438.591z">
                                                    </path>
                                                </g>
                                            </g>
                                        </svg>
                                        Revisar
                                    </button>
                                </div>
                                <button
                                    class="py-1.5 px-3.5 text-xs bg-red-500 text-white rounded-md cursor-pointer font-medium leading-5 text-center shadow-xs transition-all duration-500 hover:bg-red-700">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-circle-x w-4 h-4 inline mr-1">
                                        <circle cx="12" cy="12" r="10" />
                                        <path d="m15 9-6 6" />
                                        <path d="m9 9 6 6" />
                                    </svg>
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <!-- End Content -->
</div>