<!-- Toast Success -->
<div id="dialog-success" class="fixed left-[28px] right-0 bottom-[34px] opacity-0 hidden transition-opacity duration-500">
    <div class="max-w-xs relative bg-white border border-gray-200 rounded-xl shadow-lg" role="alert">
        <div class="flex p-4">
            <div class="flex-shrink-0">
                <!-- Icon -->
                <span class="m-1 inline-flex justify-center items-center size-8 rounded-full bg-teal-50 text-gray-800">
                    <svg class="flex-shrink-0 size-4 text-teal-500 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
                        </path>
                    </svg>
                </span>
                <!-- End Icon -->

                <button type="button" (click)="hideDialog('success')"
                    class="absolute top-3 end-3 inline-flex flex-shrink-0 justify-center items-center size-5 rounded-lg text-gray-800 opacity-50 hover:opacity-100 focus:outline-none focus:opacity-100 transition-all duration-300">
                    <span class="sr-only">Close</span>
                    <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                    </svg>
                </button>
            </div>

            <div class="grow ms-3 me-5">
                <h3 class="text-gray-800 font-medium text-sm">
                    {{mensaje}}
                </h3>

                <!-- Progress -->
                <div class="mt-2 flex flex-col gap-x-3">
                    <!-- <span class="block mb-1.5 text-xs text-gray-500">{{progress}}% · quedan {{timeLeft}}s</span> -->
                    <div class="flex w-full h-1 bg-gray-200 rounded-full overflow-hidden" role="progressbar"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="flex flex-col justify-center overflow-hidden bg-teal-600 text-xs text-white text-center whitespace-nowrap"
                            [ngStyle]="{ 'width': progress + '%' }"></div>
                    </div>
                </div>
                <!-- End Progress -->
            </div>
        </div>
    </div>
</div>
<!-- End Toast -->

<!-- Toast Error-->
<div id="dialog-error" class="fixed left-[28px] right-0 bottom-[34px] opacity-0 hidden transition-opacity duration-500">
    <div class="max-w-xs relative bg-white border border-gray-200 rounded-xl shadow-lg" role="alert">
        <div class="flex p-4">
            <div class="flex-shrink-0">
                <!-- Icon -->
                <span class="m-1 inline-flex justify-center items-center size-8 rounded-full bg-red-50 text-gray-800">
                    <svg class="flex-shrink-0 size-4 text-red-500 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8 7.293 5.354 4.646z">
                        </path>
                    </svg>
                </span>
                <!-- End Icon -->

                <button type="button" (click)="hideDialog('error')"
                    class="absolute top-3 end-3 inline-flex flex-shrink-0 justify-center items-center size-5 rounded-lg text-gray-800 opacity-50 hover:opacity-100 focus:outline-none focus:opacity-100 transition-all duration-300">
                    <span class="sr-only">Close</span>
                    <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                    </svg>
                </button>
            </div>

            <div class="grow ms-3 me-5">
                <h3 class="text-gray-800 font-medium text-sm">
                    {{mensaje}}
                </h3>

                <!-- Progress -->
                <div class="mt-2 flex flex-col gap-x-3">
                    <!-- <span class="block mb-1.5 text-xs text-gray-500">{{progress}}% · quedan {{timeLeft}}s</span> -->
                    <div class="flex w-full h-1 bg-gray-200 rounded-full overflow-hidden" role="progressbar"
                         aria-valuemin="0" aria-valuemax="100">
                        <div class="flex flex-col justify-center overflow-hidden bg-red-600 text-xs text-white text-center whitespace-nowrap"
                            [ngStyle]="{ 'width': progress + '%' }"></div>
                    </div>
                </div>
                <!-- End Progress -->
            </div>
        </div>
    </div>
</div>
<!-- End Toast -->
