<div class="bg-white py-8 lg:py-16 antialiased animate__animated animate__fadeIn">

    <div class="max-w-2xl mx-auto px-4">
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-lg lg:text-2xl font-bold text-black">Calificaciones (20)</h2>
        </div>
        <!-- Single comment -->
        <article class="p-6 mb-6 text-base bg-gray-100 rounded-lg">
            <footer class="flex justify-between items-center mb-2">
                <div class="flex items-center">
                    <p class="text-sm text-gray-600"><span
                            class="cursor-pointer underline font-semibold text-indigo-600 hover:text-indigo-800 transition-all duration-300"
                            routerLink="/auth/login">Iniciar sesión</span> para calificar 🔐⭐</p>
                </div>
            </footer>
        </article>
    </div>
    <div class="max-w-2xl mx-auto px-4">
        <div>
            <div class="flex flex-col gap-4 pb-2 pt-2 mb-4">
                <span class="text-gray-700 font-medium">Método de enseñanza: </span>
                <span class="text-gray-700 text-sm">Califica el método de enseñanza del profesor acerca de los temas que
                    le han sido enseñados. <p class="font-medium italic">(1 estrella: Muy insatisfecho, 5 estrellas:
                        Muy satisfecho)</p></span>
            </div>
            <div class="my-8">
                <span id="ProgressLabel" class="sr-only">Loading</span>

                <span role="progressbar" aria-labelledby="ProgressLabel" aria-valuenow="50"
                    class="block rounded-full bg-gray-200">
                    <span class="block h-4 rounded-full bg-[repeating-linear-gradient(45deg,_var(--tw-gradient-from)_0,_var(--tw-gradient-from)_20px,_var(--tw-gradient-to)_20px,_var(--tw-gradient-to)_40px)] from-indigo-400 to-indigo-500 text-center text-[10px]/4" style="width: 75%">
                        <span class="font-bold text-white"> 75% </span>
                    </span>
                </span>
                <div class="flex justify-between mt-2 w-[100%] h-[10px]">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                </div>
            </div>
        </div>

        <div>
            <div class="flex flex-col gap-4 pb-2 pt-2 mb-4">
                <span class="text-gray-700 font-medium">Evaluciones: </span>
                <span class="text-gray-700 text-sm">Califica la claridad, la justicia y la utilidad de las evaluaciones
                    del profesor. <p class="font-medium italic">(1 estrella: Muy insatisfecho, 5 estrellas: Muy
                        satisfecho)</p></span>
            </div>
            <div class="my-8">
                <span id="ProgressLabel" class="sr-only">Loading</span>

                <span role="progressbar" aria-labelledby="ProgressLabel" aria-valuenow="50"
                    class="block rounded-full bg-gray-200">
                    <span class="block h-4 rounded-full bg-[repeating-linear-gradient(45deg,_var(--tw-gradient-from)_0,_var(--tw-gradient-from)_20px,_var(--tw-gradient-to)_20px,_var(--tw-gradient-to)_40px)] from-indigo-400 to-indigo-500 text-center text-[10px]/4" style="width: 60%">
                        <span class="font-bold text-white"> 60% </span>
                    </span>
                </span>
                <div class="flex justify-between mt-2 w-[100%] h-[10px]">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                </div>
            </div>
        </div>

        <div>
            <div class="flex flex-col gap-4 pb-2 pt-2 mb-4">
                <span class="text-gray-700 font-medium">Supervivencia: </span>
                <span class="text-gray-700 text-sm">Califica la capacidad del profesor para mantener tu interés y
                    motivación en la clase. <p class="font-medium italic">(1 estrella: Muy insatisfecho, 5 estrellas:
                        Muy satisfecho)</p></span>
            </div>
            <div class="my-8">
                <span id="ProgressLabel" class="sr-only">Loading</span>

                <span role="progressbar" aria-labelledby="ProgressLabel" aria-valuenow="50"
                    class="block rounded-full bg-gray-200">
                    <span class="block h-4 rounded-full bg-[repeating-linear-gradient(45deg,_var(--tw-gradient-from)_0,_var(--tw-gradient-from)_20px,_var(--tw-gradient-to)_20px,_var(--tw-gradient-to)_40px)] from-indigo-400 to-indigo-500 text-center text-[10px]/4" style="width: 25%">
                        <span class="font-bold text-white"> 25% </span>
                    </span>
                </span>
                <div class="flex justify-between mt-2 w-[100%] h-[10px]">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                </div>
            </div>
        </div>
    </div>
</div>