<div class="bg-white py-8 lg:py-16 antialiased animate__animated animate__fadeIn">

    <div class="max-w-3xl mx-auto px-4" *ngIf="votes">
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-lg lg:text-2xl font-bold text-black">Calificaci{{ votes.total_votos === 1 ? 'ón' : 'ones'}}
                ({{votes.total_votos}})</h2>
        </div>
        <!-- Single comment -->
        <article class="p-6 mb-6 text-base bg-gray-100 rounded-lg" *ngIf="!isValid">
            <footer class="flex justify-between items-center mb-2">
                <div class="flex items-center">
                    <p class="text-sm text-gray-600"><span
                            class="cursor-pointer underline font-semibold text-indigo-600 hover:text-indigo-800 transition-all duration-300"
                            routerLink="/auth/login">Iniciar sesión</span> para calificar 🔐⭐</p>
                </div>
            </footer>
        </article>
    </div>

    <ng-template #noVotes>
        <div class="max-w-3xl mx-auto px-4">
            <p class="text-gray-500 text-sm font-medium">No se realizado ningun puntuación hasta el
                momento 😔</p>
        </div>
    </ng-template>

    <div class="max-w-3xl mx-auto px-4" *ngIf="votes && votes.star > 0; else noVotes">
        <div>
            <div class="flex flex-col gap-4 pb-2 pt-2 mb-4">
                <span class="text-gray-700 font-medium">Método de enseñanza: </span>
                <span class="text-gray-700 text-sm">Califica el método de enseñanza del profesor acerca de los temas que
                    le han sido enseñados. <p class="font-medium italic">(1 estrella: Muy insatisfecho, 5 estrellas:
                        Muy satisfecho)</p></span>
            </div>
            <div class="my-8">
                <span role="progressbar" aria-labelledby="ProgressLabel" aria-valuenow="50"
                    class="block rounded-full bg-gray-200" *ngIf="avg_porcent_ensenianza > 1; else noEnsenianza">
                    <span
                        class="block h-4 rounded-full bg-[repeating-linear-gradient(45deg,_var(--tw-gradient-from)_0,_var(--tw-gradient-from)_20px,_var(--tw-gradient-to)_20px,_var(--tw-gradient-to)_40px)] from-indigo-400 to-indigo-500 text-center text-[10px]/4"
                        [style.width.%]="(avg_porcent_ensenianza - 1) * 25">
                        <span class="font-bold text-white"> {{avg_porcent_ensenianza}} ⭐ </span>
                    </span>
                </span>

                <ng-template #noEnsenianza>
                    <span role="progressbar" aria-labelledby="ProgressLabel" aria-valuenow="75"
                        class="relative block rounded-full bg-gray-200">
                        <span class="absolute h-4 inset-0 flex items-center justify-center text-[10px]/4">
                            <span class="font-bold text-gray-600"> {{ avg_porcent_ensenianza }} ⭐ </span>
                        </span>

                        <span class="block h-4 rounded-full bg-indigo-600 text-center" [style.width.%]="(avg_porcent_ensenianza - 1) * 25"> </span>
                    </span>
                </ng-template>

                <div class="flex justify-between mt-2 w-[100%] h-[10px]">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                </div>
            </div>
        </div>

        <div>
            <div class="flex flex-col gap-4 pb-2 pt-2 mb-4">
                <span class="text-gray-700 font-medium">Evaluciones: </span>
                <span class="text-gray-700 text-sm">Califica la claridad, la justicia y la utilidad de las evaluaciones
                    del profesor. <p class="font-medium italic">(1 estrella: Muy insatisfecho, 5 estrellas: Muy
                        satisfecho)</p></span>
            </div>
            <div class="my-8">
                <span id="ProgressLabel" class="sr-only">Loading</span>

                <span role="progressbar" aria-labelledby="ProgressLabel" aria-valuenow="50"
                    class="block rounded-full bg-gray-200"  *ngIf="votes.avg_porcent_evaluaciones > 1; else noEvaluaciones">
                    <span
                        class="block h-4 rounded-full bg-[repeating-linear-gradient(45deg,_var(--tw-gradient-from)_0,_var(--tw-gradient-from)_20px,_var(--tw-gradient-to)_20px,_var(--tw-gradient-to)_40px)] from-indigo-400 to-indigo-500 text-center text-[10px]/4"
                        [style.width.%]="(votes.avg_porcent_evaluaciones - 1) * 25">
                        <span class="font-bold text-white"> {{ votes.avg_porcent_evaluaciones }} ⭐ </span>
                    </span>
                </span>

                <ng-template #noEvaluaciones>
                    <span role="progressbar" aria-labelledby="ProgressLabel" aria-valuenow="75"
                        class="relative block rounded-full bg-gray-200">
                        <span class="absolute h-4 inset-0 flex items-center justify-center text-[10px]/4">
                            <span class="font-bold text-gray-600"> {{ votes.avg_porcent_evaluaciones }} ⭐ </span>
                        </span>

                        <span class="block h-4 rounded-full bg-indigo-600 text-center" [style.width.%]="( votes.avg_porcent_evaluaciones - 1 ) * 25"> </span>
                    </span>
                </ng-template>

                <div class="flex justify-between mt-2 w-[100%] h-[10px]">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                </div>
            </div>
        </div>

        <div>
            <div class="flex flex-col gap-4 pb-2 pt-2 mb-4">
                <span class="text-gray-700 font-medium">Supervivencia: </span>
                <span class="text-gray-700 text-sm">Califica la capacidad del profesor para mantener tu interés y
                    motivación en la clase. <p class="font-medium italic">(1 estrella: Muy insatisfecho, 5 estrellas:
                        Muy satisfecho)</p></span>
            </div>
            <div class="my-8">
                <span role="progressbar" aria-labelledby="ProgressLabel" aria-valuenow="50"
                    class="block rounded-full bg-gray-200"  *ngIf="votes.avg_porcent_supervivencia > 1; else noSupervivencia">
                    <span
                        class="block h-4 rounded-full bg-[repeating-linear-gradient(45deg,_var(--tw-gradient-from)_0,_var(--tw-gradient-from)_20px,_var(--tw-gradient-to)_20px,_var(--tw-gradient-to)_40px)] from-indigo-400 to-indigo-500 text-center text-[10px]/4"
                        [style.width.%]="(votes.avg_porcent_supervivencia - 1) * 25">
                        <span class="font-bold text-white"> {{ votes.avg_porcent_supervivencia }} ⭐ </span>
                    </span>
                </span>

                <ng-template #noSupervivencia>
                    <span role="progressbar" aria-labelledby="ProgressLabel" aria-valuenow="75"
                        class="relative block rounded-full bg-gray-200">
                        <span class="absolute h-4 inset-0 flex items-center justify-center text-[10px]/4">
                            <span class="font-bold text-gray-600"> {{ votes.avg_porcent_supervivencia }} ⭐ </span>
                        </span>

                        <span class="block h-4 rounded-full bg-indigo-600 text-center" [style.width.%]="( votes.avg_porcent_supervivencia - 1 ) * 25"> </span>
                    </span>
                </ng-template>

                <div class="flex justify-between mt-2 w-[100%] h-[10px]">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                </div>
            </div>
        </div>
    </div>
</div>