<app-navbar></app-navbar>
<section class="font-sans p-8 tracking-wide max-lg:max-w-5xl mx-auto" *ngIf="datosProfesor">
  <div class="grid items-start grid-cols-1 lg:grid-cols-2 gap-10">
    <div class="space-y-4 text-center lg:sticky top-8">
      <div class="bg-gray-100 p-4 flex items-center justify-center sm:h-[380px] rounded">
        <img [src]="datosProfesor.img_profesor" [alt]="datosProfesor.first_last_name" class="rounded-lg object-cover"
          (load)="onLoad()" [ngStyle]="{ display: hasLoaded ? '' : 'none' }" />
        <div class="loader__container" [ngStyle]="{ display: !hasLoaded ? '' : 'none' }"><img class="image-12-XX2"
            *ngIf="!hasLoaded" src="assets/img/svg/loader.svg"></div>
      </div>
    </div>

    <div>
      <div>
        <h2 class="text-2xl font-extrabold text-gray-800">{{ datosProfesor.nombre_completo }}</h2>
        <p class="text-sm text-gray-600 mt-2 font-medium">{{ datosProfesor.nombre_curso }}</p>
      </div>

      <div class="flex justify-between items-center flex-col sm:flex-row">
        <div class="flex gap-4 pb-2 pt-2">
          <div class="flex">
            <!-- Estrellas llenas -->
            <ng-container *ngFor="let _ of fullStars">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-500 w-5 h-auto fill-current"
                viewBox="0 0 16 16">
                <path
                  d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
              </svg>
            </ng-container>

            <!-- Estrella a la mitad -->
            <ng-container *ngIf="halfStar">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-500 w-5 h-auto fill-current"
                viewBox="0 0 16 16">
                <path
                  d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z" />
              </svg>
            </ng-container>

            <!-- Estrellas vacías -->
            <ng-container *ngFor="let _ of emptyStars">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-yellow-500 w-5 h-auto fill-current"
                viewBox="0 0 16 16">
                <path
                  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
              </svg>
            </ng-container>
          </div>
          <span class="text-gray-500">{{ votes }}</span>
        </div>

        <div>
          <button *ngIf="isValid; else elseBlock" class="cssbuttons-io-button" (click)="showDialog()">
            Calificar
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-star">
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
              </svg>
            </div>
          </button>

          <ng-template #elseBlock>
            <button class="cssbuttons-io-button" [routerLink]="['/auth/login']">
              Calificar
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="lucide lucide-star">
                  <polygon
                    points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
                </svg>
              </div>
            </button>
          </ng-template>

        </div>
      </div>

      <div class="flow-root rounded-lg border border-gray-100 py-3 shadow-sm" style="margin-top: 50px;">
        <dl class="-my-3 divide-y divide-gray-100 text-sm">

          <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
            <dt class="font-medium text-gray-900">Drive</dt>
            <a class="flex items-center font-medium" href="https://drive.google.com/drive/u/1/home" target="_blank">
              <dd class="text-indigo-500 sm:col-span-2  hover:text-indigo-700 transition-all duration-300">Click aquí
              </dd>
              <img class="w-8 ml-1" src="https://cdn-icons-png.flaticon.com/128/11115/11115710.png" alt="Click aquí">
            </a>
          </div>

          <div class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4">
            <dt class="font-medium text-gray-900">Descripción</dt>
            <dd class="text-gray-700 sm:col-span-2">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et facilis debitis explicabo
              doloremque impedit nesciunt dolorem facere, dolor quasi veritatis quia fugit aperiam
              aspernatur neque molestiae labore aliquam soluta architecto?
            </dd>
          </div>
        </dl>
      </div>

    </div>
  </div>

  <div class="mt-8">
    <div class="block sm:block">
      <div>
        <nav class="-mb-px flex-col sm:flex-row flex justify-center gap-6 max-w-3xl mx-auto px-4" aria-label="Tabs">
          <a [routerLink]="['/profesores/detalle', encriptarId(idCurso.toString()), encriptarId(idProfesor.toString()), 'posts']"
            routerLinkActive="active"
            class="w-full sm:w-1/2 transition-all duration-300 inline-flex shrink-0 justify-center items-center gap-2 border-b-[3px] text-sm font-medium text-gray-500 p-4 rounded-t-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-message-circle-more h-5 w-5">
              <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
              <path d="M8 12h.01" />
              <path d="M12 12h.01" />
              <path d="M16 12h.01" />
            </svg>

            Comentarios
          </a>

          <a [routerLink]="['/profesores/detalle', encriptarId(idCurso.toString()), encriptarId(idProfesor.toString()), 'scores']"
            routerLinkActive="active"
            class="w-full sm:w-1/2 transition-all duration-300 inline-flex shrink-0 justify-center items-center gap-2 border-b-[3px] text-sm font-medium p-4 rounded-t-lg"
            aria-current="page">

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-notebook-pen h-5 w-5">
              <path d="M13.4 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-7.4" />
              <path d="M2 6h4" />
              <path d="M2 10h4" />
              <path d="M2 14h4" />
              <path d="M2 18h4" />
              <path d="M18.4 2.6a2.17 2.17 0 0 1 3 3L16 11l-4 1 1-4Z" />
            </svg>

            Calificaciones
          </a>
        </nav>
      </div>
    </div>
  </div>

  <!-- CTA -->
  <!-- <div id="dialog-overlay"
    class="overlay size-full h-screen fixed inset-0 overflow-y-auto bg-[#212121] z-[1000] opacity-0 hidden transition-opacity duration-300">
  </div> -->
  <div
    class="relative flex justify-center h-full w-full">
    <div id="dialog-overlay" class="fixed inset-0 bg-gray-500 bg-opacity-75 z-[1000] hidden transition-opacity duration-300" aria-hidden="true"></div>
    <div id="dialog-qualify" class="size-full h-screen fixed inset-0 overflow-y-auto z-[1000] opacity-0 hidden transition-opacity duration-300" aria-modal="true">
      <div class="flex items-center justify-center min-h-screen px-2 sm:px-4 pt-4 pb-4 text-center sm:p-0">
        <div
          class="max-w-[350px] w-full relative inline-block p-4 overflow-hidden text-left align-middle transition-all transform bg-white shadow-xl sm:max-w-sm rounded-xl sm:my-8 sm:w-full sm:p-6">


          <div class="mt-5 text-center">
            <h3 class="text-lg font-medium text-gray-800" id="modal-title">
              Califica a tu profesor
            </h3>
          </div>

          <div *ngFor="let slider of sliders">
            <p class="mt-2 text-gray-500 text-start font-medium">
              {{ slider.text }}:
            </p>
            <div class="flex items-center justify-between w-full mt-5 sm:mt-2 gap-x-2">
              <div class="main">
                <div class="field">
                  <div class="value left">1</div>
                  <input class="slider" type="range" min="1" max="5" [(ngModel)]="slider.value"
                    (input)="onSliderInput(slider)" step="1">
                  <div class="value right">5</div>
                </div>
                <div id="selector" [style.left.%]="slider.selectorPosition">
                  <div class="SelectBtn"></div>
                  <div id="SelectValue">{{ slider.value }}</div>
                </div>
                <div id="ProgressBar" [style.width.%]="slider.progressBarWidth"></div>
              </div>
              <button title="Guardar" (click)="onSave(slider)"
                class="rounded-md hidden sm:block p-1.5 text-gray-700 bg-white border border-gray-200 focus:outline-none transition-colors duration-300 hover:text-indigo-500">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="lucide lucide-save w-6 h-6">
                  <path
                    d="M15.2 3a2 2 0 0 1 1.4.6l3.8 3.8a2 2 0 0 1 .6 1.4V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z" />
                  <path d="M17 21v-7a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v7" />
                  <path d="M7 3v4a1 1 0 0 0 1 1h7" />
                </svg>
              </button>
            </div>
          </div>

          <div class="mt-4 sm:flex sm:items-center sm:justify-between sm:mt-6 sm:-mx-2">
            <button (click)="hideDialog()"
              class="px-4 sm:mx-2 w-full py-2.5 text-sm font-medium tracking-wide text-gray-700 capitalize transition-colors duration-300 transform border border-gray-200 rounded-md hover:bg-gray-100 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-40">
              Cancelar
            </button>

            <button [disabled]="!(puntajes.length === 3)" (click)="confirmarPuntaje()"
              class="px-4 sm:mx-2 w-full py-2.5 mt-3 sm:mt-0 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-40 disabled:opacity-50 disabled:pointer-events-none">
              Confirmar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>


  <!-- Regresar a la página anterior -->
  <div class="flex justify-center">
    <a routerLink="/profesores/profesores-por-curso"
      class="inline-block rounded bg-indigo-600 px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-indigo-500">
      Regresar
    </a>
  </div>
</section>

<app-modal-notification></app-modal-notification>

<app-scroll-up></app-scroll-up>

<app-footer></app-footer>