<app-navbar></app-navbar>
<section class="section">
    <!-- BUSCADOR Y FILTRO DE LAS ESPECIALIZACIONES -->
    <div class="filter-container">
        <input class="input" type="text" placeholder="Buscar especialidad..." [(ngModel)]="filtroBusqueda"  (ngModelChange)="buscarEspecialidad()">
        <select class="filter" [(ngModel)]="ordenSeleccionado" name="" id="" (change)="buscarEspecialidad()">
            <option value="">-----</option>
            <option value="ASC">Nombre (Asc)</option>
            <option value="DESC">Nombre (Desc)</option>
            <!-- <option value="pop">Popularidad</option>
            <option value="views">Vistas</option>
            <option value="demand">Demanda laboral</option> -->
        </select>
    </div>
    <!-- ESPECIALIZACIONES -->
    <div class="specialty-container">
            <div *ngFor="let especialidad of especialidades" class="curse-container">
                <div class="imgtitle-curse">
                    <img class="image-12-XX2 animate__animated animate__fadeIn" [src]="especialidad.imagen_url" alt="{{ especialidad.nombre_especialidad }}" (load)="onLoad()" [ngStyle]="{ display: hasLoaded ? '' : 'none' }">
                    <div class="loader__container"><img class="image-12-XX2" *ngIf="!hasLoaded" src="assets/img/svg/loader.svg"></div>
                    <p class="desarrollo-web-UHr" [ngStyle]="{ display: hasLoaded ? '' : 'none' }">{{especialidad.nombre_especialidad}}</p>
                </div>
                <div class="summary-curse">
                    <p class="text-gray limit-lines">{{especialidad.descripcion}}</p>
                    <a class="centered-link" routerLink="/guia/guia-especializacion/{{especialidad.id_especialidad}}">Ver más</a>
                </div>
            </div>
    </div>
    <!-- BOTONES -->
    <div class="paginacion">   
        <button *ngFor="let num of paginas" (click)="selectPage(num)">
          {{ num }}
        </button>
    </div>
</section>



<app-scroll-up></app-scroll-up>

<app-footer></app-footer>
