<app-navbar></app-navbar>

<section>

    <nav aria-label="Breadcrumb" class="flex">
        <ol class="flex overflow-hidden rounded-lg border border-gray-200 text-gray-600">
            <li class="flex items-center">
                <a
                    class="flex h-10 items-center gap-1.5 bg-gray-100 px-4 transition hover:text-gray-900 pointer-events-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                    </svg>

                    <span class="ms-1.5 text-xs font-medium"> 1° Ciclo </span>
                </a>
            </li>

            <li class="relative flex items-center">
                <span
                    class="absolute inset-y-0 -start-px h-10 w-4 bg-gray-100 [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180">
                </span>

                <a
                    class="flex h-10 items-center bg-white pe-4 ps-8 text-xs font-medium transition hover:text-gray-900 pointer-events-none">
                    Química I
                </a>
            </li>
        </ol>
    </nav>

    <!-- Search -->
    <div class="flex justify-center mb-4 mt-4">
        <div class="relative w-full sm:w-6/12">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2" />
                </svg>
            </div>
            <input type="text" id="simple-search" (keydown)="handleKeyPress($event)" #searchInput
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full ps-10 p-2.5 focus:outline-none focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm focus:ring-1"
                placeholder="Buscar..." required />
        </div>
        <button type="submit" (click)="searchClicked()"
            class="p-2.5 ms-2 text-sm font-medium text-white bg-indigo-700 rounded-lg border border-indigo-700 hover:bg-indigo-800 focus:outline-none dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
            <span class="sr-only">Search</span>
        </button>


        <button type="submit" (click)="cleanClicked()"
            class="p-2.5 ms-2 text-sm font-medium text-white bg-indigo-700 rounded-lg border border-indigo-700 hover:bg-indigo-800 focus:outline-none dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z" />
            </svg>
            <span class="sr-only">Search</span>
        </button>
    </div>

    <div class="w-full gap-4 flex-wrap flex justify-center items-center select-none">

        <!-- Card -->
        <div class="w-60 p-2 bg-white rounded-xl transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl border-dashed border-2 border-violet-600"
            *ngFor="let profesor of profesores">
            <!-- Image -->
            <div class="flex justify-center">
                <img class="h-40 object-cover rounded-xl animate__animated animate__fadeIn"
                    [src]="profesor.img_profesor" [alt]="profesor.nombre_completo" (load)="onLoad()"
                    [ngStyle]="{ display: hasLoaded ? '' : 'none' }">
                <div class="loader__container" [ngStyle]="{ display: !hasLoaded ? '' : 'none' }"><img
                        class="image-12-XX2" *ngIf="!hasLoaded" src="assets/img/svg/loader.svg"></div>
            </div>
            <div class="p-2">
                <!-- Heading -->
                <h2 class="font-bold mb-2 text-center text-base">{{ profesor.first_last_name | uppercase }}</h2>
                <!-- Description -->
                <!-- <p class="text-sm text-gray-600">{{profesor.description | truncate: 100 }}</p> -->
            </div>
            <!-- CTA -->
            <div class="m-2 flex justify-center">
                <a routerLink="/profesores/detalle/{{ profesor.id_profesor }}">
                    <button type="button"
                        class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 me-2 mb-2">
                        <img src="assets/img/flaticon-img/libro.png" alt="">
                        Leer más
                    </button>
                </a>
            </div>

            <!-- <div class="flex justify-center">
                <ul class="ra-rating-star items-center">
                    <li class="score">{{ profesor.score }}</li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-fill"></i></li>
                    <li><i class="ri-star-half-line"></i></li>
                </ul>
            </div> -->



            <!-- Añade la lógica para calcular el número de estrellas rellenadas -->
            <!-- <div class="flex justify-center">
                <ul class="ra-rating-star items-center">
                    <li class="score">{{ profesor.score }}</li>
                    <ng-container *ngIf="profesor.score !== null">
                        <ng-container *ngIf="profesor.score >= 0 && profesor.score <= 5">
                            <li *ngFor="let star of stars(profesor.score)">
                                <i [class]="star"></i>
                            </li>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="profesor.score === null">
                        <li class="score">
                            Sin calificación 😞
                        </li>
                    </ng-container>
                </ul>
            </div> -->


            <!-- RATING STAR -->
            <!-- <div class="flex justify-center" *ngIf="rating !== null">
                <ul class="ra-rating-star flex items-center">
                    <li class="score">{{ profesor.score }}</li>
                    <li *ngFor="let _ of [].constructor(5); let i = index">
                        <i [class]=""></i>
                    </li>
                </ul>
            </div>

            <div class="flex justify-center" *ngIf="rating === null">
                <ul class="ra-rating-star flex items-center">
                    <li class="score">Sin calificación 😞</li>
                </ul>
            </div> -->
        </div>

        <div class="mt-8" *ngIf="profesores.length === 0 && palabraNoEncontrada.length > 0">
            <div class="grid place-content-center bg-white px-4">
                <div class="text-center">
                    
                    <app-not-found [message]="palabraNoEncontrada"></app-not-found>

                    <div class="flex justify-center mt-4">
                        <a (click)="regresar()"
                            class="cursor-pointer inline-block rounded bg-indigo-600 px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-indigo-500">
                            Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>




    </div>
</section>

<app-scroll-up></app-scroll-up>

<app-footer></app-footer>