<ol class="timeline">
    <li *ngIf="isValid;else invalidToken" class="timeline-item">
        <span class="timeline-item-icon | avatar-icon">
            <i class="avatar">
                <img src="https://assets.codepen.io/285131/hat-man.png" />
            </i>
        </span>
        <div class="new-comment relative">
            <input [(ngModel)]="comment" (ngModelChange)="isTheCommentEmpty()" type="text"
                placeholder="Escribe un comentario..." class="border rounded p-2 w-full" />
        </div>
        <button (click)="postComment()" [disabled]="isCommentEmpty" class="cursor-pointer bg-gray-200 hover:bg-[#e3e3e3] text-indigo-500 hover:text-indigo-700 p-3 rounded-full transition-all duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-send h-4 w-4">
                <path d="m22 2-7 20-4-9-9-4Z" />
                <path d="M22 2 11 13" />
            </svg>
        </button>
    </li>
    <ng-template #invalidToken>
        <article class="p-6 mb-6 text-base bg-gray-100 rounded-lg">
            <footer class="flex justify-between items-center mb-2">
                <div class="flex items-center">
                    <p class="text-sm text-gray-600"><span
                            class="cursor-pointer underline font-semibold text-indigo-600 hover:text-indigo-800 transition-all duration-300"
                            routerLink="/auth/login">Iniciar sesión</span> para comentar 🔐💬</p>
                </div>
            </footer>
        </article>
    </ng-template>
    <div *ngIf="comentarios.length > 0; else noComments">
        <li class="timeline-item | extra-space" *ngFor="let c of comentarios; let i = index">
            <span class="timeline-item-icon | filled-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path fill="currentColor"
                        d="M6.455 19L2 22.5V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H6.455zM7 10v2h2v-2H7zm4 0v2h2v-2h-2zm4 0v2h2v-2h-2z" />
                </svg>
            </span>
            <div class="timeline-item-wrapper">
                <div class="timeline-item-description">
                    <i class="avatar | small">
                        <img src="https://assets.codepen.io/285131/hat-man.png" />
                    </i>
                    <!-- <span><a href="#">{{c.usuario}}</a> comentó el <time datetime="20-01-2021">Jan 20, 2021</time></span> -->
                    <span><a href="#">{{c.usuario}}</a> comentó el {{c.fecha}}</span>
                </div>
                <div class="comment">
                    <p>{{c.comentario}}</p>
                    <button class="button">👏 2</button>
                    <button class="button | square" (click)="showResponseBox(i)">
                        💬
                    </button>
                </div>
                <app-respuestas [comentario_id]="c.id_comentario" [especialidad_id]="especialidad_id"
                    [isResponseBoxHiden]="isResponseBoxHiden[i]"></app-respuestas>
            </div>
        </li>
    </div>
    <ng-template #noComments>
        <p>No hay comentarios disponibles</p>
    </ng-template>
</ol>