.notifications .toast-alert-success,
.notifications .toast-alert-danger {
    position: relative;
    overflow: hidden;
    list-style: none;
}

.toast-alert-success::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    animation: progress 4.6s linear forwards;
    background: #0ABF30;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.toast-alert-danger::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    animation: progress 4.6s linear forwards;
    background: #E24D4C;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

@keyframes progress {
    100% {
        width: 0%;
    }
}

.notifications .toast-hide {
    animation: hide_toast 0.3s ease forwards;
}

@keyframes hide_toast {
    0% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(calc(100% + 20px));
    }
}