@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #ffffff;
  --text-color: #1E1F4B;
  --text-color-hover-active: #9893D7;
  --text-color-active: #453493;
  --main-font: 1.2rem;
  --body-color: hsl(207, 4%, 99%);
  --p-font: 1rem;
  --c-grey-100: #f4f6f8;
  --c-grey-200: #e3e3e3;
  --c-grey-300: #b2b2b2;
  --c-grey-400: #7b7b7b;
  --c-grey-500: #3d3d3d;
  --c-blue-500: #688afd;
  --theme: #5e27e5;
  --bs-form-invalid-color: #dc3545;
  --bs-form-valid-color: #198754;
  --bs-warning-bg-subtle: #bf8f00;
  --primary-color: #5d5fef;
  --primary-color-dark: #4b4dbf;
  --secondary-color: #1a2125;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #f8f8f8;
  --white: #ffffff;
  --max-width: 1200px;

  --title-color: hsl(207, 4%, 16%);

  /*========== z index ==========*/
  --z-tooltip: 10;

  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);

  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}

body,
input {
  font-family: "Poppins", sans-serif;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(207, 4%, 75%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(207, 4%, 65%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(207, 4%, 55%);
}

.ng-tooltip {
  position: absolute;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 12px;
  z-index: 1000;
  white-space: nowrap;
  pointer-events: none;
  /* para evitar problemas de hovering */
}

.ng-tooltip-show {
  opacity: 1;
}